# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# Vscode
.vscode/

# Python
__pycache__/

# Log
*.log

# Cache
cache/

# JSON
*.json

#GGUF
*.gguf

# txt
*.txt

*.http

# temp
vllm-qwen/
qw2vl.py
qw3vl_plan.md
.cache/
.clangd/
